<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <%- include("partials/headerLogueado.ejs") %>
      <% } else { %>
        <%- include("partials/header.ejs") %>
      <% } %>
    
      <h1><%= producto.nombre_producto %></h1>
      <p><%= producto.descripcion_producto %></p>
    
      <h2>Comentarios</h2>
      <% if (producto.comments && producto.comments.length > 0) { %>
        <ul>
          <% producto.comments.forEach(function(comentario) { %>
            <li><strong><%= comentario.comments_users.nombre %></strong>: <%= comentario.texto %></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>Este producto no tiene comentarios aún.</p>
      <% } %>
</body>
</html>